[Unit]
Description=Usernetes kubelet service (crio)
BindsTo=rootlesskit.service
PartOf=u7s-node.target

[Service]
Type=notify
NotifyAccess=all
ExecStartPre=/var/lib/u7s-admin/usernetes/boot/nsenter.sh /var/lib/u7s-admin/usernetes/bin/init-crio.sh
ExecStart=/var/lib/u7s-admin/usernetes/boot/kubelet.sh
WorkingDirectory=/var/lib/u7s-admin/usernetes
  EnvironmentFile=/var/lib/u7s-admin/.config/usernetes/env
  Restart=on-failure
  LimitNOFILE=65536

