[Unit]
Description=Usernetes target for Kubernetes node components (crio)
Requires=kubelet.service kube-proxy.service flanneld.service
After=kubelet.service kube-proxy.service flanneld.service
PartOf=u7s.target

[Install]
WantedBy=u7s.target
