[Unit]
Description=Usernetes target for Kubernetes master components (including etcd)### node
Requires=u7s-etcd.target 
After=u7s-etcd.target 
PartOf=u7s.target

[Install]
WantedBy=u7s.target
