[Unit]
Description=Usernetes RootlessKit service (crio)
# PartOf=u7s.target

[Install]
# WantedBy=u7s.target

[Service]
ExecStart=/usr/libexec/podsec/u7s/bin/rootlesskit.sh /usr/libexec/podsec/u7s/bin/crio.sh
Delegate=yes
SyslogIdentifier=rootlesskit
WorkingDirectory=%h
  EnvironmentFile=%E/usernetes/env
  Restart=on-failure
  LimitNOFILE=65536
