[Unit]
Description=Usernetes RootlessKit service (crio)
PartOf=u7s.target

[Service]
ExecStart=/usr/libexec/podsec/u7s/rootlesskit.sh /usr/libexec/podsec/u7s/crio.sh
Delegate=yes
WorkingDirectory=/var/lib/u7s-admin/
  EnvironmentFile=/etc/podsec/u7s/env
  Restart=on-failure
  LimitNOFILE=65536

