[Unit]
Description=Usernetes target (all components in the single node)
Requires=kubelet.service rootlesskit.service
After=kubelet.service rootlesskit.service

[Install]
WantedBy=multi-user.target
