[Unit]
Description=Usernetes etcd service
BindsTo=rootlesskit.service
PartOf=u7s-etcd.target

[Service]
Type=notify
NotifyAccess=all
ExecStart=/var/lib/u7s-admin/usernetes/bin/_etcd.sh
ExecStartPost=/var/lib/u7s-admin/usernetes/bin/_etcd-init-data.sh
WorkingDirectory=/var/lib/u7s-admin/usernetes
  EnvironmentFile=/var/lib/u7s-admin/.config/usernetes/env
  Restart=on-failure
  LimitNOFILE=65536

