[Unit]
Description=Usernetes flanneld service
BindsTo=rootlesskit.service
PartOf=u7s-node.target

[Service]
ExecStart=/var/lib/u7s-admin/usernetes/bin/_flanneld.sh
WorkingDirectory=/var/lib/u7s-admin/usernetes
  EnvironmentFile=/var/lib/u7s-admin/.config/usernetes/env
  Restart=on-failure
  LimitNOFILE=65536

