[Unit]
Description=Usernetes kube-proxy service
BindsTo=rootlesskit.service
Requires=kubelet.service
After=kubelet.service
PartOf=u7s-node.target

[Service]
ExecStart=/var/lib/u7s-admin/usernetes/bin/_kube-proxy.sh
WorkingDirectory=/var/lib/u7s-admin/usernetes
  EnvironmentFile=/var/lib/u7s-admin/.config/usernetes/env
  Restart=on-failure
  LimitNOFILE=65536

