[Unit]
Description=Monitoring of unauthorized access to kune api
Wants=podsec-inotify-check-kubeapi-mail.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/podsec-inotify-check-kubeapi -m >/dev/null 2>&1

[Install]
WantedBy=multi-user.target
