[Unit]
Description=Run inotifywatch for podman containers

[Service]
ExecStart=/usr/bin/podsec-inotify-check-containers 2>/dev/null
Restart=always
RestartSec=1s
RuntimeMaxSec=100
SyslogIdentifier=podsec-inotify-check-containers

[Install]
WantedBy=multi-user.target
