[Unit]
Description=Usernet (rootless kubernetes) U7S Service
After=sshd.service

[Service]
WorkingDirectory=/var/lib/u7s-admin
ExecStartPre=/var/lib/u7s-admin/usernetes/bin/u7sinit.sh
ExecStart=machinectl shell u7s-admin@ /sbin/systemctl --user -T --wait start u7s.target
ExecStop=machinectl shell u7s-admin@ /sbin/systemctl --user -T stop u7s.target
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
