[Unit]
Description=Usernet (rootless kubernetes) U7S Service
After=sshd.service

[Service]
WorkingDirectory=/var/lib/u7s-admin
ExecStartPre=/usr/libexec/podsec/u7s/bin/u7sinit.sh
ExecStart=machinectl shell u7s-admin@ /usr/libexec/podsec/u7s/bin/u7s-start-stop.sh start
ExecStop=machinectl shell u7s-admin@ /usr/libexec/podsec/u7s/bin/u7s-start-stop.sh stop
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
